{% trans_default_domain 'FOSUserBundle' %}

<!-- Heading Row -->
<div class="row">
    <div class="col-md-6 col-md-offset-3 well">
        <form data-sign-type="signin" name="fb_signin" accept-charset="UTF-8" action="/signin/facebook" class="u-mb4" method="POST">
            <input type="hidden" name="scope" value="email,user_photos,user_birthday">
            <button class="btn btn-block btn-social btn-lg btn-facebook" name="socialButton">
                <i class="fa fa-lg fa-facebook"></i>
                Inscription avec Facebook
            </button>
        </form>
        <br>

        <form data-sign-type="signin" class="u-mb4" name="g_signin" action="/signin/google" method="POST">
            <button type="submit" class="btn btn-block btn-social btn-lg btn-google" name="socialButton">
                <i class="fa fa-lg fa-google-plus"></i>
                Inscription avec Google
            </button>
            <input type="hidden" name="scope" value="https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/plus.profile.emails.read">
        </form>
        <br>

        <div class="text-center">
            <span>-- Ou --</span>
        </div>
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal'}}) }}
        <fieldset>

            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.email) }}
                </div>
                <div class="col-md-12">
                    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.username) }}
                </div>
                <div class="col-md-12">
                    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                    {{ form_errors(form.username) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.plainPassword.first) }}
                </div>
                <div class="col-md-12">
                    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}}) }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    {{ form_label(form.plainPassword.second) }}
                </div>
                <div class="col-md-12">
                    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Répéter'}}) }}
                    {{ form_errors(form.plainPassword.first) }}
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-block btn-primary" value="{{ 'registration.submit'|trans }}">S'inscrire</button>
                </div>
            </div>
        </fieldset>
        {{ form_end(form) }}
    </div>
</div>
<!-- /.row -->